@model LangShare.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Welcome to LangShare! <br /> Choose a name</h2>

@using (Html.BeginForm()) {

    @Html.EditorForModel()
    <input type="submit" class="btn" value="Login" />
}