@model LangShare.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<head>
<title>LangShare Login</title>
    <script src="../../Scripts/jquery-2.2.0.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../../Scripts/knockout-3.4.0.debug.js"></script>

</head>


<div align="center" style="border:3px solid #04B404">

<h2><center>Welcome to LangShare! <br /> Choose a name</center></h2>

@using (Html.BeginForm()) {
    <br />

    @Html.EditorForModel()
    <input type="submit" class="btn" value="Login" />

    
}
</div>



